name: C++ Robot Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update

      - name: Build robot sim
        run: |
          mkdir -p robot-sim/build
          g++ -std=c++20 -O2 robot-sim/tests/main.cpp robot-sim/src/robot.cpp -o robot-sim/build/robot

